/java/olamundo/target/
/java/horaDoSistema/target/
/java/IdiomaSistema/target/
/java/ResolucaoTela/target/
/java/OlaMundoSwing/target/
/java/RelogioSwing/nbproject/private/
/java/RelogioSwing/build/
/java/SomaSwing/nbproject/private/
/java/SomaSwing/build/
