/java/olamundo/target/
/java/horaDoSistema/target/
/java/IdiomaSistema/target/
/java/ResolucaoTela/target/
/java/OlaMundoSwing/target/
/java/RelogioSwing/nbproject/private/
/java/RelogioSwing/build/
/java/SomaSwing/nbproject/private/
/java/SomaSwing/build/
Programador_BR/bootstrap/3.jpeg
Programador_BR/bootstrap/1.jpg
Programador_BR/bootstrap/2.jpg
Devquest/testes_automatizados/node_modules/
onebit/Javascript/ES6/node_modules/