body{
    background-color: rgb(119, 119, 119);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.cartao{
    
    width: 400px;
    height: 200px;
    margin: 20%;
    
}

h1{
    font-weight: lighter;
    font-size: large;
}
.conteudo {
    width: 400px;
    background-image: url(assets/backgorund.png);
    background-size: 400px 200px;
    background-repeat: no-repeat;
    padding: 10px;
    text-transform: uppercase;
    display: block;
    

}

#logo1 {
    list-style-image: url(assets/Insta.png);
}
#logo2 {
    list-style-image: url(assets/Twitter.png);
}
#logo3 {
    list-style-image: url(assets/Youtube.png);
}