body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.cartao{
    
    
  
    
    background-image: url(assets/backgorund.png);
    background-repeat: no-repeat;
    background-size: 400px 200px;

}

h1{
    font-weight: lighter;
    font-size: large;
}
.conteudo {
    padding: 10px;
    text-transform: uppercase;
}

#logo1 {
    list-style-image: url(assets/Insta.png);
}
#logo2 {
    list-style-image: url(assets/Twitter.png);
}
#logo3 {
    list-style-image: url(assets/Youtube.png);
}