.btn{
    display: inline-block;
    padding: 20px;
    background-color: rgb(55, 132, 248);
    color: white;
    font-size: 30px;
    transition-property: background-color, padding ;
    transition-duration: 500ms, 1s;
    transition-delay: 0.1s;

    /* OU
    transition: bacground-color 500ms 1s ease-out, padding 3s; */

}


.btn:hover{
    background-color: #2248CA;
    padding-left: 30px;
    padding-right: 30px;
}