<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">
    <%- include('../partials/header', {pagina: 'sobre'}); %>

    <main >
        <div class="jumbotron">
            <h1>Sobre mim</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum quibusdam enim ab repellendus molestias possimus incidunt magni nulla iste atque numquam delectus autem neque odio hic, repudiandae ipsam nobis sit?</p>
        </div>

    </main>

    <%- include('../partials/footer'); %>
</body>
</html>