body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

.back{
    width: 70%;
    height: 100%;
    background-color: #fffafa;
    margin: 0px auto 0px auto;
    
}

.fontcolor{
    color: #008080;
    
}

.paddingg{
   width: 90%;
   margin-left: 50px;
   padding-top: 20px;
   padding-left: 50px;
   padding-right: auto;

}