.container {
    
    color: white;
    display: grid;
    padding: 10px;
    background-color: gray;
    grid-template-areas:    "a2 a2 a2 a2 a2 a2"
                            "a1 a1 a1 a3 a3 a3"
                            "a5 a5 a5 a4 a4 a4"
                            "a6 a6 a6 a6 a6 a6"
                            
    

} 
   



.r1 {
    background-color: rgb(248, 77, 77);
}
.r2 {
    background-color: rgb(66, 169, 253);
}

.r3 {
    background-color: rgb(9, 196, 133);
}

.item1 {
    grid-area: a1;
}
.item2 {
    grid-area: a2;
}
.item3 {
    grid-area: a3;
}
.item4 {
    grid-area: a4;
}
.item5 {
    grid-area: a5;
}
.item6 {
    grid-area: a6;
}
